/data/
/bin/
/internal/server/webui/dist/*
!/internal/server/webui/dist/index.html
*.test
*.out
.env
*.local
node_modules/
/agent-state/
/.e2e-data/
**/__debug_bin*
web/dist/
.DS_Store
.vscode/settings.json
